#For live server hosting ()
#php_value auto_prepend_file "/home/u624290640/domains/adreesch.com/public_html/prepend.php"

#For local server like xampp
php_value auto_prepend_file "C:\xampp\htdocs\cashbook\prepend.php"